parameters:
  orkestra.wsse.security.authentication.provider.class: Orkestra\Bundle\WebServiceBundle\Security\Authentication\Provider\WsseProvider
  orkestra.wsse.security.authentication.listener.class: Orkestra\Bundle\WebServiceBundle\Security\Firewall\WsseListener
  orkestra.event_subscriber.filter_request.class: Orkestra\Bundle\WebServiceBundle\Listener\FilterRequestSubscriber
  twig.controller.exception.class: Orkestra\Bundle\WebServiceBundle\Controller\ExceptionController

services:
  orkestra.wsse.security.authentication.provider:
    class: %orkestra.wsse.security.authentication.provider.class%
    arguments: [ '', %kernel.cache_dir%/security/nonces, 300 ]

  orkestra.wsse.security.authentication.listener:
    class: %orkestra.wsse.security.authentication.listener.class%
    arguments: [ @security.context, @security.authentication.manager ]

  orkestra.event_subscriber.filter_request.negotiator:
    class: Negotiation\FormatNegotiator

  orkestra.event_subscriber.filter_request:
    class: %orkestra.event_subscriber.filter_request.class%
    arguments: [ @orkestra.event_subscriber.filter_request.negotiator ]
    tags:
      - { name: kernel.event_subscriber }
